<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
   <!-- BEGIN: Head-->
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
      <meta name="description" content="online shopping for kids, baby products online, kids dress online shopping, best online shopping for kids,  kids toys online shopping.">
      <meta name="keywords" content="aonline shopping for kids, baby products online, kids dress online shopping, best online shopping for kids,  kids toys online shopping">
      <meta name="author" content="UBID">
      <title>UBID | Home</title>
      <link rel="apple-touch-icon" href="app-assets/images/ico/apple-icon-120.png">
      <!-- <link rel="shortcut icon" type="image/x-icon" href="app-assets/images/ico/favicon.png"> -->
      <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet"> -->
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
      <!-- BEGIN: Vendor CSS-->
      <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/vendors.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/charts/apexcharts.css">
      <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/extensions/toastr.min.css">
      <!-- END: Vendor CSS-->
      <!---FONTS-->
      <!-- <link rel="stylesheet" type="text/css" href="app-assets/fonts/fontfamily/font.css"> -->
      <link rel="stylesheet" type="text/css" href="app-assets/fonts/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/owl.theme.default.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/owl.carousel.min.css">
      <!-- BEGIN: Theme CSS-->
      <link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap-extended.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/colors.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/components.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/themes/dark-layout.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/themes/bordered-layout.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/themes/semi-dark-layout.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/plugins/forms/pickers/form-flat-pickr.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/plugins/extensions/ext-component-ratings.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/extensions/jquery.rateyo.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/pages/page-profile.min.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/core/menu/menu-types/vertical-menu.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/pages/dashboard-ecommerce.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/plugins/charts/chart-apex.css">
      <link rel="stylesheet" type="text/css" href="app-assets/css/plugins/extensions/ext-component-toastr.css">
      <link rel="stylesheet" type="text/css" href="assets/css/seller-style.css">
      <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
   </head>
   <body data-theme-version="light" data-layout="vertical" data-nav-headerbg="color_1" data-headerbg="color_1" data-sidebar-style="mini" data-sibebarbg="color_1" data-sidebar-position="fixed" data-header-position="fixed" data-container="wide" direction="ltr" data-primary="color_1">
      <div id="main-wrapper">
         <nav class="header-navbar navbar navbar-expand-lg align-items-center navbar-light navbar-shadow fixed-top">
            <div class="navbar-container d-flex content">
               <ul class="nav navbar-nav align-items-center ml-auto">
                  <li class="nav-item dropdown dropdown-notification mr-25">
                     <a class="nav-link" href="javascript:void(0);" data-toggle="dropdown">
                     <i class="ficon" data-feather="settings"></i>
                     </a>
                  </li>
                  <li class="nav-item dropdown dropdown-notification mr-25">
                     <a class="nav-link" href="javascript:void(0);" data-toggle="dropdown"><i class="ficon" data-feather="bell"></i><span class="badge badge-pill badge-danger badge-up">5</span></a>
                     <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                        <li class="dropdown-menu-header">
                           <div class="dropdown-header d-flex">
                              <h4 class="notification-title mb-0 mr-auto">Notifications</h4>
                              <div class="badge badge-pill badge-light-primary">6 New</div>
                           </div>
                        </li>
                        <li class="scrollable-container media-list">
                           <a class="d-flex" href="javascript:void(0)">
                              <div class="media d-flex align-items-start">
                                 <div class="media-left">
                                    <div class="avatar"><img src="app-assets/images/avatars/avatar-s-11.jpg" alt="avatar" width="32" height="32"></div>
                                 </div>
                                 <div class="media-body">
                                    <p class="media-heading"><span class="font-weight-bolder">Congratulation Sam 🎉</span>winner!</p>
                                    <small class="notification-text"> Won the monthly best seller badge.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="d-flex" href="javascript:void(0)">
                              <div class="media d-flex align-items-start">
                                 <div class="media-left">
                                    <div class="avatar"><img src="app-assets/images/avatars/avatar-s-11.jpg" alt="avatar" width="32" height="32"></div>
                                 </div>
                                 <div class="media-body">
                                    <p class="media-heading"><span class="font-weight-bolder">New message</span>&nbsp;received</p>
                                    <small class="notification-text"> You have 10 unread messages</small>
                                 </div>
                              </div>
                           </a>
                           <a class="d-flex" href="javascript:void(0)">
                              <div class="media d-flex align-items-start">
                                 <div class="media-left">
                                    <div class="avatar bg-light-danger">
                                       <div class="avatar-content">MD</div>
                                    </div>
                                 </div>
                                 <div class="media-body">
                                    <p class="media-heading"><span class="font-weight-bolder">Revised Order 👋</span>&nbsp;checkout</p>
                                    <small class="notification-text"> MD Inc. order updated</small>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="dropdown-menu-footer"><a class="btn btn-primary btn-block" href="support/notifications.html">Read all notifications</a></li>
                     </ul>
                  </li>
                  <li class="nav-item dropdown dropdown-user">
                     <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="user-nav d-sm-flex d-none"><span class="user-name font-weight-bolder">John Doe</span><span class="user-status">Admin</span></div>
                        <span class="avatar"><img class="round" src="app-assets/images/avatars/avatar-s-11.jpg" alt="avatar" height="40" width="40"><span class="avatar-status-online"></span></span>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user"><a class="dropdown-item" href="profile.html"><i class="mr-50" data-feather="user"></i> Profile</a>
                        <a class="dropdown-item" href="change-password.html"><i class="mr-50" data-feather="unlock"></i> Change Password</a>
                        <a class="dropdown-item" href="#"><i class="mr-50" data-feather="power"></i> Logout</a>
                     </div>
                  </li>
               </ul>
            </div>
         </nav>
         <div class="nav-header">
            <a href="index.html" class="brand-logo">
               <span class="logo-text text-dark"><img src="app-assets/images/logo/logo.png"></span>
            </a>
            <div class="nav-control">
               <div class="hamburger">
                  <span class="line"></span><span class="line"></span><span class="line"></span>
               </div>
            </div>
         </div>
         <div class="deznav">
            <div class="deznav-scroll">
               <ul class="metismenu" id="menu">
                  <li class="active">
                     <a class="ai-icon" href="index.html" aria-expanded="false">
                     <i data-feather="home"></i><span class="menu-title text-truncate" data-i18n="Dashboard">Dashboard</span></a>
                     </a>
                  </li>
                  <li >
                     <a class="ai-icon" href="customer-management.html" aria-expanded="false">
                     <i data-feather="users"></i><span class="menu-title text-truncate" data-i18n="Customer Management">Customer Management</span> 
                     </a>
                  </li>
                  <li>
                     <a class="ai-icon" href="business-partners.html" aria-expanded="false">
                     <i data-feather="users"></i><span class="menu-title text-truncate" data-i18n="Business Partner Management">Business Partner Management</span>
                     </a>
                  </li>
                  <li class="">
                     <a class="ai-icon" href="profile-management.html" aria-expanded="false">
                     <i data-feather="users"></i><span class="menu-title text-truncate" data-i18n="Business Partner Management">Profile Management</span>
                     </a>
                  </li>
                  <li>
                     <a class="ai-icon" href="category-management.html" aria-expanded="false">
                     <i data-feather="grid"></i><span class="menu-title text-truncate" data-i18n="Category Management">Category Management</span>
                     </a>
                  </li>
                  <li>
                     <a class="ai-icon" href="sponsored-vendors.html" aria-expanded="false">
                     <i data-feather="package"></i><span class="menu-title text-truncate" data-i18n="Sponsored Vendors">Sponsored Vendors</span>
                     </a>
                  </li>
                  <li>
                     <a class="ai-icon" href="subscription-management.html" aria-expanded="false">
                     <i data-feather="airplay"></i><span class="menu-title text-truncate" data-i18n="Subscription Management">Subscription Management</span>
                     </a>
                  </li>
                  <li>
                     <a class="ai-icon" href="ticket-management.html" aria-expanded="false">
                     <i data-feather="zap"></i><span class="menu-title text-truncate" data-i18n="Subscription Management">Ticket Management</span>
                     </a>
                  </li><!-- 
                  <li>
                     <a class="ai-icon" href="document-verification-management.html" aria-expanded="false">
                     <i data-feather="check-square"></i><span class="menu-title text-truncate" data-i18n="Document Verification Management">Document Verification Management</span>
                     </a>
                  </li> -->
               </ul>
            </div>
         </div>
         <div class="app-content content">
            <div class="">
               <div class="content-overlay"></div>
               <div class="header-navbar-shadow"></div>
               <div class="content-wrapper">
                  <div class="content-body">
                     <!-- Dashboard Ecommerce Starts -->
                       <section  class="mt-1">
                        <div class="container">
                           <div class="row welcome-board">
                              <div class="col-xl-12 col-md-6 col-lg-6">
                                 <div class="card ">
                                    <div class="card-body">
                                       <div class="row">
                                          <div class="col-xl-12 col-md-12 col-lg-8">
                                             <div class="d-block card-header border-0 text-center p-a0">
                                                <h2 class="text-center my-2">Welcome back <b>Admin!</b></h2>
                                             </div>
                                             <div class="row text-center">
                                                <div class="col-md-12">
                                                   <h6 class="">Greetings from Ubid!</h6>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row match-height orders-statitcs">
                              <div class="col-xl-4 col-lg-6 payment-block">
                                 <div class="card">
                                   <div class="card-body">
										<img src="app-assets/images/icons/orders_today.png" class="bg-light-danger orders-icon icon">
										<p class="small-title">Total bids placed</p>
										<h2 class="">234</h2>
									 </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-6 payment-block">
                                 <div class="card">
                                   <div class="card-body">
										<img src="app-assets/images/icons/total_orders.png" class="bg-light-danger orders-icon icon">
										<p class="small-title">Total bids accepted</p>
										<h2 class="">168</h2>
									 </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-6 payment-block">
                                 <div class="card">
                                   <div class="card-body">
										<img src="app-assets/images/icons/Todays_Sales.png" class="bg-light-danger orders-icon icon">
										<p class="small-title">Total bids pending</p>
										<h2 class="">234</h2>
									 </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row match-height orders-statitcs">
                              <div class="col-xl-6 col-lg-6 payment-block">
                                <div class="card">
									<div class="card-header">
										<h4 class="card-title">Total bids</h4>
										<div class="d-flex align-items-center">
										   <a href="#"><span class="btn btn-primary" target="_blank">See all</span></a>
										</div>
									</div>
									<div class="card-body">
											<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>Category</th>
														<th>Sub Category</th>
														<th>Bid Amount</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-primary mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor font-medium-3"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
																	</div>
																</div>
																<span>Technology</span>
															</div>
														</td>
														<td>
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-primary mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor font-medium-3"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
																	</div>
																</div>
																<span>Technology</span>
															</div>
														</td>
														<td>$891.2</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-success mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-coffee font-medium-3"><path d="M18 8h1a4 4 0 0 1 0 8h-1"></path><path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path><line x1="6" y1="1" x2="6" y2="4"></line><line x1="10" y1="1" x2="10" y2="4"></line><line x1="14" y1="1" x2="14" y2="4"></line></svg>
																	</div>
																</div>
																<span>Grocery</span>
															</div>
														</td>
														<td class="text-nowrap">
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-success mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-coffee font-medium-3"><path d="M18 8h1a4 4 0 0 1 0 8h-1"></path><path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path><line x1="6" y1="1" x2="6" y2="4"></line><line x1="10" y1="1" x2="10" y2="4"></line><line x1="14" y1="1" x2="14" y2="4"></line></svg>
																	</div>
																</div>
																<span>Grocery</span>
															</div>
														</td>
														<td>$668.51</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-warning mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch font-medium-3"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>
																	</div>
																</div>
																<span>Fashion</span>
															</div>
														</td>
														<td class="text-nowrap">
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-warning mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch font-medium-3"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>
																	</div>
																</div>
																<span>Fashion</span>
															</div>
														</td>
														<td>$522.29</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-warning mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch font-medium-3"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>
																	</div>
																</div>
																<span>Fashion</span>
															</div>
														</td>
														<td class="text-nowrap">
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-warning mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch font-medium-3"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>
																	</div>
																</div>
																<span>Fashion</span>
															</div>
														</td>
														<td>$531.49</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
                                </div>
                              </div>
                              <div class="col-xl-6 col-lg-6 payment-block">
                                 <div class="card">
									<div class="card-header">
										<h4 class="card-title">Total bids accepted</h4>
										<div class="d-flex align-items-center">
										   <a href="#"><span class="btn btn-primary" target="_blank">See all</span></a>
										</div>
									</div>
                                   <div class="card-body">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>Category</th>
														<th>Sub Category</th>
														<th>Bid Amount</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-primary mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor font-medium-3"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
																	</div>
																</div>
																<span>Technology</span>
															</div>
														</td>
														<td>
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-primary mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor font-medium-3"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
																	</div>
																</div>
																<span>Technology</span>
															</div>
														</td>
														<td>$891.2</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-success mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-coffee font-medium-3"><path d="M18 8h1a4 4 0 0 1 0 8h-1"></path><path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path><line x1="6" y1="1" x2="6" y2="4"></line><line x1="10" y1="1" x2="10" y2="4"></line><line x1="14" y1="1" x2="14" y2="4"></line></svg>
																	</div>
																</div>
																<span>Grocery</span>
															</div>
														</td>
														<td class="text-nowrap">
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-success mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-coffee font-medium-3"><path d="M18 8h1a4 4 0 0 1 0 8h-1"></path><path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path><line x1="6" y1="1" x2="6" y2="4"></line><line x1="10" y1="1" x2="10" y2="4"></line><line x1="14" y1="1" x2="14" y2="4"></line></svg>
																	</div>
																</div>
																<span>Grocery</span>
															</div>
														</td>
														<td>$668.51</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-warning mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch font-medium-3"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>
																	</div>
																</div>
																<span>Fashion</span>
															</div>
														</td>
														<td class="text-nowrap">
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-warning mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch font-medium-3"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>
																	</div>
																</div>
																<span>Fashion</span>
															</div>
														</td>
														<td>$522.29</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-warning mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch font-medium-3"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>
																	</div>
																</div>
																<span>Fashion</span>
															</div>
														</td>
														<td class="text-nowrap">
															<div class="d-flex align-items-center">
																<div class="avatar bg-light-warning mr-1">
																	<div class="avatar-content">
																		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch font-medium-3"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>
																	</div>
																</div>
																<span>Fashion</span>
															</div>
														</td>
														<td>$531.49</td>
													</tr>
												</tbody>
											</table>
										</div>
									 </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </section>
                     <!-- Dashboard Ecommerce ends -->
                  </div>
               </div>
            </div>
         </div>
         <div class="sidenav-overlay"></div>
         <div class="drag-target"></div>
         <!-- BEGIN: Footer-->
         <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
         <footer class="footer footer-static footer-light">
            <p class="clearfix mb-0"><span class="d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a class="ml-25" href="https://UBID.in/UBID/" target="_blank">Ubid</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span></p>
         </footer>
      </div>
      <!-- END: Footer-->
      <!-- BEGIN: Vendor JS-->
      <script src="app-assets/vendors/js/vendors.min.js"></script>
      <script src="app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
      <!-- BEGIN Vendor JS-->
      <!-- BEGIN: Page Vendor JS-->
      <script src="app-assets/vendors/js/extensions/toastr.min.js"></script>
      <script src="app-assets/js/scripts/charts/chart-chartjs.min.js"></script>
      <!-- END: Page Vendor JS-->
      <!-- BEGIN: Theme JS-->
      <script src="app-assets/js/core/app-menu.min.js"></script>
      <script src="app-assets/js/core/app.js"></script>
      <script src="assets/js/scripts.js"></script>
      <!-- END: Theme JS-->
      <!-- BEGIN: Page JS-->
      <!-- BEGIN Vendor JS-->
      <!-- BEGIN: Page Vendor JS-->
      <script src="app-assets/vendors/js/forms/select/select2.full.min.js"></script>
      <script src="app-assets/js/scripts/forms/form-select2.js"></script>
      <script src="app-assets/js/scripts/forms/form-wizard.min.js"></script>
      <script src="app-assets/vendors/js/forms/wizard/bs-stepper.min.js"></script>
      <script src="app-assets/vendors/js/charts/chart.min.js"></script>
      <script src="app-assets/js/scripts/owl.carousel.min.js"></script>
      <script src="app-assets/js/scripts/extensions/ext-component-ratings.min.js"></script>
      <script src="app-assets/vendors/js/extensions/jquery.rateyo.min.js"></script>
      <!-- END: Page JS-->
      <script>
         $(window).on('load', function() {
             if (feather) {
                 feather.replace({
                     width: 14,
                     height: 14
                 });
             }
         })
      </script>
      <script>
         $('.carousel').carousel({
          
         interval: 30000,
         duration:10000,
         
         
         })
      </script>
   </body>
   <!-- END: Body-->
</html>